<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://www.joinyun.cn/jsap/apkDowload/F66081465BB2480784B9D740B3ED25A8/weiya.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://www.joinyun.cn/jsap/apkDowload/F66081465BB2480784B9D740B3ED25A8/iosa.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://www.joinyun.cn/jsap/apkDowload/F66081465BB2480784B9D740B3ED25A8/iosb.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.join.yuancheng</string>
				<key>bundle-version</key>
				<string>1.0.100</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>weiya</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
